@charset "UTF-8";

/* Typical Device Breakpoints 
-----------------------------
    Pequenas telas: até 600px
    Celular: 600px até 768px
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    Grandes telas: acima de 1200px
*/  

/* Pequenas telas */
@media screen and (max-width: 600px) {
    header.container {
        flex-direction: column;
        justify-content: center;
    }

    header span {
        cursor: pointer;
    }

    header nav {
        padding-bottom: 1px;
        background-color: whitesmoke;
        width: 100%;   
        margin: 0;
    }

    header nav a {
        display: block;
        border-bottom: 1px solid rgb(175, 175, 175);

        margin: auto;
    }

    header nav a:hover::before {
        width: 0;
    }

    div.main {
        margin-top: 20vh;
        flex-direction: column;
        align-items: flex-start;
    }

    .main div.descricao {
        min-width: 320px;
        font-size: 1em;
        line-height: 1.5em;
    }

    .main div.container-img {
        margin: auto;
    } 

    .container-redes {
        margin-top: 80px;
    }

    .tecnologias div {
        margin: 5px;
    }

    .tecnologias img {
        width: 80px;
    }
 
}

/* CELULARES */
@media screen and (min-width: 600px) and (max-width: 768px) {
    header.container {
        align-items: center;
        justify-content: space-between;
        align-content: center;
    }
    
    header h1 {
        font-size: 1.6em;
    }

    header nav {
        padding-top: 5px;
        font-size: 0.8em;
    }

    header #burguer {
        display: none;
    }

    img#perfil {
        width: 280px;
    }

    div.main .descricao {
        margin: 0;
        padding: 25px;
    }
}

@media screen and (min-width: 601px) {
    span#burguer {
        display: none;
    }
}